@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This site is running MVC4 and ServiceStack side by side. ServiceStack runs under the /api url (see web.config <httpHandlers> sections). All the JavaScripts are handled using
                the Ext JS 4. Grab from Github... 
            </p>
        </div>
    </section>
}

<h3>What Can We Do?</h3>
<ol class="round">
    <li class="one">
        <h5>Standard Hello World</h5>
        <a href="api/Hello/World">Hello World Demo</a>
    </li>
    <li class="two">
        <h5>MetaData</h5>
        <a href="api/metadata">Take a look at the MetaData</a>
    </li>
    <li class="three">
        <h5>Call it from JavaScript (using ExtJs framework sencha.com/products/extjs)</h5>
        <div id="helloJsCall"></div>
    </li>
</ol>

@section scripts {
<script>
    Ext.onReady(function () {
        var requestText = Ext.create('Ext.form.field.Text', { fieldLabel: 'Request' })
        var responseText = Ext.create('Ext.form.field.Text', { fieldLabel: 'Response', readOnly: true });
        var sendButton = {
            xtype: 'button',
            text: 'Send',
            handler: function () {
                Ext.Ajax.request({
                    method: 'GET',
                    url: '/api/Hello?format=json',
                    params: { Name: requestText.getValue() },
                    success: function (response, opts) {
                        var result = Ext.JSON.decode(response.responseText).result;
                        responseText.setValue(result);
                    }
                });
            }
        };

        var helloPanel = Ext.create('Ext.panel.Panel', {
            renderTo: 'helloJsCall',
            items: [requestText, responseText, sendButton]
        });
    })
</script>
}