@{
    ViewBag.Title = "About";
}

<ol class="round">
    <li class="one"><p>&nbsp;</p>Ordering<p>&nbsp;</p></li>
    <li class="two"><p>&nbsp;</p>Item Production<p>&nbsp;</p></li>
    <li class="three"><p>&nbsp;</p>Shipping<p>&nbsp;</p></li>
    <li class="four"><p>&nbsp;</p>Invoicing<p>&nbsp;</p></li>
</ol>